@font-face {
    font-family: 'Rodin';
    src: url('FOT-NewRodin Pro DB.otf');
} 

body{
	font-family: 'Rodin';
	font-size: 12px;
	color: #FFFFFF;
	background-color: #202020;
	background-image: url("bg.png");
	background-repeat: no-repeat;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-attachment: fixed;
	background-position: 0 64px; 
	margin: 0;
}

.window {
	position: absolute;
	top: 64px;
	left: 0;
	margin: 0;
	width: 100%;
	height: calc(100vh - 96px);
	border: none;
	visibility: hidden;
}

.status{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}

.footer{
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed;
    bottom: 0;
	left: 0;
	width: 100%;
	height: 32px;
	color: #959396;
	background-color: #2A2A2A;
	border-top: 1px solid goldenrod;
    font-size: 12px;
}
.footer a{
	color: #959396;
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: inherit;
}